
<div class="row">
    <div class="col-md-3">
        <h4>Name</h4>
    </div>
    <div class="col-md-3">
        <h4>phone no.</h4>
    </div>
    <div class="col-md-3">
        <h4>Email</h4>
    </div>
    <div class="col-md-3">
        <h4>DOB</h4>
    </div>
</div>
<ul>
    <li class="nav"
    RouterLinkActive= "active" >
<a href="#"  (click)="onSelect('one')">
<div class="row">
    <div class="col-md-3">
        <h4>manika1</h4>
    </div>
    <div class="col-md-3">
        <h4>5-8-7</h4>
    </div>
    <div class="col-md-3">
        <h4>nthsdjkdnf@gmail.coml</h4>
    </div>
    <div class="col-md-3">
        <h4>8-8-8</h4>
    </div>
</div>
</a>
</li>
<li class="nav">
<a href="#" >

<div class="row">
    <div class="col-md-3">
        <h4>manika2</h4>
    </div>
    <div class="col-md-3">
        <h4>5-8-7</h4>
    </div>
    <div class="col-md-3">
        <h4>nthsdjkdnf@gmail.coml</h4>
    </div>
    <div class="col-md-3">
        <h4>8-8-8
        </h4>
    </div>
</div>
</a>
</li>
<li class="nav">
<a href="#" >

<div class="row">
    <div class="col-md-3">
        <h4>manika3</h4>
    </div>
    <div class="col-md-3">
        <h4>5-8-7</h4>
    </div>
    <div class="col-md-3">
        <h4>nthsdjkdnf@gmail.coml</h4>
    </div>
    <div class="col-md-3">
        <h4>8-8-8
        </h4>
    </div>
</div>
</a>
</li>
<li class="nav">
<a href="#" >

<div class="row">
    <div class="col-md-3">
        <h4>manika4</h4>
    </div>
    <div class="col-md-3">
        <h4>5-8-7</h4>
    </div>
    <div class="col-md-3">
        <h4>nthsdjkdnf@gmail.coml</h4>
    </div>
    <div class="col-md-3">
        <h4>8-8-8
        </h4>
    </div>
</div>
</a>
</li>
<li class="nav">
<a href="#" >

<div class="row">
    <div class="col-md-3">
        <h4>manika5</h4>
    </div>
    <div class="col-md-3">
        <h4>5-8-7</h4>
    </div>
    <div class="col-md-3">
        <h4>nthsdjkdnf@gmail.coml</h4>
    </div>
    <div class="col-md-3">
        <h4>8-8-8
        </h4>
    </div>
</div>
</a>
</li>
<li class="nav">
<a href="#" >

<div class="row">
    <div class="col-md-3">
        <h4>manika6</h4>
    </div>
    <div class="col-md-3">
        <h4>5-8-7</h4>
    </div>
    <div class="col-md-3">
        <h4>nthsdjkdnf@gmail.coml</h4>
    </div>
    <div class="col-md-3">
        <h4>8-8-8
        </h4>
    </div>
</div>
</a>
</li>
<li class="nav">
<a href="#" >

<div class="row">
    <div class="col-md-3">
        <h4>manika7</h4>
    </div>
    <div class="col-md-3">
        <h4>5-8-7</h4>
    </div>
    <div class="col-md-3">
        <h4>nthsdjkdnf@gmail.coml</h4>
    </div>
    <div class="col-md-3">
        <h4>8-8-8
        </h4>
    </div>
</div>
</a>
</li>
<li class="nav">
<a href="#" >

<div class="row">
    <div class="col-md-3">
        <h4>manika8</h4>
    </div>
    <div class="col-md-3">
        <h4>5-8-7</h4>
    </div>
    <div class="col-md-3">
        <h4>nthsdjkdnf@gmail.coml</h4>
    </div>
    <div class="col-md-3">
        <h4>8-8-8
        </h4>
    </div>
</div>
</a>
</li>
<li class="nav">
        <a href="#" >
        <div class="row">
            <div class="col-md-3">
                <h4>manika1</h4>
            </div>
            <div class="col-md-3">
                <h4>5-8-7</h4>
            </div>
            <div class="col-md-3">
                <h4>nthsdjkdnf@gmail.coml</h4>
            </div>
            <div class="col-md-3">
                <h4>8-8-8
                </h4>
            </div>
        </div>
        </a>
        </li>
        <li class="nav">
        <a href="#" >
        
        <div class="row">
            <div class="col-md-3">
                <h4>manika2</h4>
            </div>
            <div class="col-md-3">
                <h4>5-8-7</h4>
            </div>
            <div class="col-md-3">
                <h4>nthsdjkdnf@gmail.coml</h4>
            </div>
            <div class="col-md-3">
                <h4>8-8-8
                </h4>
            </div>
        </div>
        </a>
        </li>
        <li class="nav">
        <a href="#" >
        
        <div class="row">
            <div class="col-md-3">
                <h4>manika3</h4>
            </div>
            <div class="col-md-3">
                <h4>5-8-7</h4>
            </div>
            <div class="col-md-3">
                <h4>nthsdjkdnf@gmail.coml</h4>
            </div>
            <div class="col-md-3">
                <h4>8-8-8
                </h4>
            </div>
        </div>
        </a>
        </li>
        <li class="nav">
        <a href="#" >
        
        <div class="row">
            <div class="col-md-3">
                <h4>manika4</h4>
            </div>
            <div class="col-md-3">
                <h4>5-8-7</h4>
            </div>
            <div class="col-md-3">
                <h4>nthsdjkdnf@gmail.coml</h4>
            </div>
            <div class="col-md-3">
                <h4>8-8-8
                </h4>
            </div>
        </div>
        </a>
        </li>
        <li class="nav">
        <a href="#" >
        
        <div class="row">
            <div class="col-md-3">
                <h4>manika5</h4>
            </div>
            <div class="col-md-3">
                <h4>5-8-7</h4>
            </div>
            <div class="col-md-3">
                <h4>nthsdjkdnf@gmail.coml</h4>
            </div>
            <div class="col-md-3">
                <h4>8-8-8
                </h4>
            </div>
        </div>
        </a>
        </li>
        <li class="nav">
        <a href="#" >
        
        <div class="row">
            <div class="col-md-3">
                <h4>manika6</h4>
            </div>
            <div class="col-md-3">
                <h4>5-8-7</h4>
            </div>
            <div class="col-md-3">
                <h4>nthsdjkdnf@gmail.coml</h4>
            </div>
            <div class="col-md-3">
                <h4>8-8-8
                </h4>
            </div>
        </div>
        </a>
        </li>
        <li class="nav">
        <a href="#" >
        
        <div class="row">
            <div class="col-md-3">
                <h4>manika7</h4>
            </div>
            <div class="col-md-3">
                <h4>5-8-7</h4>
            </div>
            <div class="col-md-3">
                <h4>nthsdjkdnf@gmail.coml</h4>
            </div>
            <div class="col-md-3">
                <h4>8-8-8
                </h4>
            </div>
        </div>
        </a>
        </li>
        <li class="nav">
        <a href="#" >
        
        <div class="row">
            <div class="col-md-3">
                <h4>manika8</h4>
            </div>
            <div class="col-md-3">
                <h4>5-8-7</h4>
            </div>
            <div class="col-md-3">
                <h4>nthsdjkdnf@gmail.coml</h4>
            </div>
            <div class="col-md-3">
                <h4>8-8-8
                </h4>
            </div>
        </div>
        </a>
        </li>
        <li class="nav">
                <a href="#" >
                <div class="row">
                    <div class="col-md-3">
                        <h4>manika1</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>5-8-7</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>nthsdjkdnf@gmail.coml</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>8-8-8
                        </h4>
                    </div>
                </div>
                </a>
                </li>
                <li class="nav">
                <a href="#" >
                
                <div class="row">
                    <div class="col-md-3">
                        <h4>manika2</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>5-8-7</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>nthsdjkdnf@gmail.coml</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>8-8-8
                        </h4>
                    </div>
                </div>
                </a>
                </li>
                <li class="nav">
                <a href="#" >
                
                <div class="row">
                    <div class="col-md-3">
                        <h4>manika3</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>5-8-7</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>nthsdjkdnf@gmail.coml</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>8-8-8
                        </h4>
                    </div>
                </div>
                </a>
                </li>
                <li class="nav">
                <a href="#" >
                
                <div class="row">
                    <div class="col-md-3">
                        <h4>manika4</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>5-8-7</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>nthsdjkdnf@gmail.coml</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>8-8-8
                        </h4>
                    </div>
                </div>
                </a>
                </li>
                <li class="nav">
                <a href="#" >
                
                <div class="row">
                    <div class="col-md-3">
                        <h4>manika5</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>5-8-7</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>nthsdjkdnf@gmail.coml</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>8-8-8
                        </h4>
                    </div>
                </div>
                </a>
                </li>
                <li class="nav">
                <a href="#" >
                
                <div class="row">
                    <div class="col-md-3">
                        <h4>manika6</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>5-8-7</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>nthsdjkdnf@gmail.coml</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>8-8-8
                        </h4>
                    </div>
                </div>
                </a>
                </li>
                <li class="nav">
                <a href="#" >
                
                <div class="row">
                    <div class="col-md-3">
                        <h4>manika7</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>5-8-7</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>nthsdjkdnf@gmail.coml</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>8-8-8
                        </h4>
                    </div>
                </div>
                </a>
                </li>
                <li class="nav">
                <a href="#" >
                
                <div class="row">
                    <div class="col-md-3">
                        <h4>manika8</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>5-8-7</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>nthsdjkdnf@gmail.coml</h4>
                    </div>
                    <div class="col-md-3">
                        <h4>8-8-8
                        </h4>
                    </div>
                </div>
                </a>
                </li>
                <li class="nav">
                        <a href="#" >
                        <div class="row">
                            <div class="col-md-3">
                                <h4>manika1</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>5-8-7</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>nthsdjkdnf@gmail.coml</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>8-8-8
                                </h4>
                            </div>
                        </div>
                        </a>
                        </li>
                        <li class="nav">
                        <a href="#" >
                        
                        <div class="row">
                            <div class="col-md-3">
                                <h4>manika2</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>5-8-7</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>nthsdjkdnf@gmail.coml</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>8-8-8
                                </h4>
                            </div>
                        </div>
                        </a>
                        </li>
                        <li class="nav">
                        <a href="#" >
                        
                        <div class="row">
                            <div class="col-md-3">
                                <h4>manika3</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>5-8-7</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>nthsdjkdnf@gmail.coml</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>8-8-8
                                </h4>
                            </div>
                        </div>
                        </a>
                        </li>
                        <li class="nav">
                        <a href="#" >
                        
                        <div class="row">
                            <div class="col-md-3">
                                <h4>manika4</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>5-8-7</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>nthsdjkdnf@gmail.coml</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>8-8-8
                                </h4>
                            </div>
                        </div>
                        </a>
                        </li>
                        <li class="nav">
                        <a href="#" >
                        
                        <div class="row">
                            <div class="col-md-3">
                                <h4>manika5</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>5-8-7</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>nthsdjkdnf@gmail.coml</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>8-8-8
                                </h4>
                            </div>
                        </div>
                        </a>
                        </li>
                        <li class="nav">
                        <a href="#" >
                        
                        <div class="row">
                            <div class="col-md-3">
                                <h4>manika6</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>5-8-7</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>nthsdjkdnf@gmail.coml</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>8-8-8
                                </h4>
                            </div>
                        </div>
                        </a>
                        </li>
                        <li class="nav">
                        <a href="#" >
                        
                        <div class="row">
                            <div class="col-md-3">
                                <h4>manika7</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>5-8-7</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>nthsdjkdnf@gmail.coml</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>8-8-8
                                </h4>
                            </div>
                        </div>
                        </a>
                        </li>
                        <li class="nav">
                        <a href="#" >
                        
                        <div class="row">
                            <div class="col-md-3">
                                <h4>manika8</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>5-8-7</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>nthsdjkdnf@gmail.coml</h4>
                            </div>
                            <div class="col-md-3">
                                <h4>8-8-8
                                </h4>
                            </div>
                        </div>
                        </a>
                        </li>   
</ul>
                                                                                                                                                                                                                                